<%- include('partials/header', { title: "Landing" }) %>
<h1>Authentication Practice</h1>
<span class="index-button-container">
  <button onclick="window.location.href='/logout'">Logout</button>
</span>
<%- include('partials/footer') %>
